@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/***** RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/***** BODY *****/

/***** HEADER *****/
header {
    background-color: var(--color-accent);
    width: 100%;
    min-height: 4.8rem;
    padding: 0.5rem 5%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
}

/***** BARRA DE PESQUISA *****/
.search-container {
    display: flex;
    background: #fff;
    border-radius: 1.75rem;
    padding: 0.3rem 1rem;
    width: 100%; 
    max-width: 17.5rem;
    align-items: center;
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    height: 1.875rem; 
    font: 0.8rem "Montserrat", sans-serif;
    color: var(--color-details);
}

.icon-search {
    width: 1.25rem; 
    height: 1.25rem;
    color: var(--color-details);
}

/***** LOGO *****/
.logo-alomana {
    height: 5rem;
    object-fit: contain;        
    /* Mantém a proporção da logo quando diminuida */
}

/***** CARRINHO E DARK-MODE *****/
.header-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* Espaçamento entre as colunas */
}

/*---Configuração do Switch---*/
.dark-mode-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 1.625rem;
}

/* Esconde o checkbox original*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Novo fundo do switch */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #838383;
    transition: .4s;
    border-radius: 2rem;
}

/* A bolinha branca do switch */
.slider:before {
    position: absolute;
    content: "";
    height: 1.1rem;
    width: 1.1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/*---Configuração para ligar o dark-mode---*/
input:checked + .slider {
    background-color: var(--color-details);
}

input:checked + .slider:before {
    transform: translateX(1.5rem);
}

.dark-mode-text {
    font-size: 0.7rem;
    font-weight: var(--fw-bold);
    color: var(--color-details);
}

.icon-cart {
    width: 2.3rem;
    height: auto;
    color: var(--color-details);
}

/***** NAV *****/
.main-nav {
    width: 100%;
    min-height: 4.5rem;
    background-color: var(--color-accent);
    border-top: 0.125rem solid var(--color-border-subtle);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.687rem;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    font-size: var(--fs-md);
    color: var(--color-black);
    font-family: var(--ff-primary);
    font-weight: 800;
    font: ;
}