/***** VARIAÇÕES DE CORES & TIPOGRAFIA *****/
:root {
    /* ---PALETA DE CORES--- */
    --color-primary: #7A1E3A;      /* Vinho */
    --color-secondary: #E6B7C1;    /* Rosa Suave */
    --color-accent: #E4DABF;       /* Creme/Bege */

    /* Cores de Interface e Apoio */
    --color-details: #49454F;                        /* Cinza Arroxeado (Barra de busca, Ícones e Carrinho) */
    --color-black: #1A1A1A;                          /* Preto Suave */
    --color-white: #FFFFFF;                          /* Branco Puro */
    --color-border-subtle: rgba(67, 67, 67, 0.1);    /* Linha suave de separação */

    /* ---TIPOGRAFIA--- */
    --ff-primary: 'Montserrat', sans-serif;    /* Titulos */
    --ff-secondary: 'Lato', sans-serif;        /* Texto */

    /* --- PESOS DE FONTE (FONT WEIGHTS) --- */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* --- ESCALA DE TAMANHOS (FONT SIZES) --- */
    --fs-h1: 2.25rem;                /* 36px - Títulos principais */
    --fs-h2: 1.75rem;                  /* 28px - Subtítulos */
    --fs-h3: 1.75rem;               /* 28px - Títulos de seção menores */
    --fs-body: 1.125rem;              /* 18px - Texto normal */
}